<mapper namespace="lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="lagou.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="lagou.pojo.User" paramterType="lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>


    <insert id="insert" paramterType="lagou.pojo.User">
        insert into user(id,username,password,birthday)
        values(#{id},#{username},#{password},#{birthday})
    </insert>

    <update id="updateById" paramterType="lagou.pojo.User">
        update user
        set username=#{username},password=#{password},birthday=#{birthday}
        where id=#{id}
    </update>

    <delete id="deleteById" paramterType="lagou.pojo.User">
        delete from user
        where id=#{id}
    </delete>


</mapper>